/* Enter your custom styles here */

.activeRow {
    background-color: #e1ebf3 !important;
}

.requiredField {
    color: red !important;
}

.sapMLabelRequired, .sapMLabelRequired::before {
    color: #c75858 !important;
}

.sapMDialogScroll {
    height: 98%;
}